# Directories
.idea/
.settings/
out/
target/
build/
log/
tmp/

# Files
*.iml
*.iws
*.ipr
*.ids
*.jar
.project
.classpath
.DS_Store
.flattened-pom.xml
pom.xml.versionsBackup
dependency-reduced-pom.xml
